
body {
    font-family: sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: #BB86FC; 
    background-color: #121212
    ;
}

.titles { 
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.box {
    border: 1px solid #121212; 
    margin: auto;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #373838;
}

#epochnumber {

}

#bestaccuracy {

}

#connectedclients {

}